<div class="row marketing">
<div class="col-lg-6">
  <h2>New Anouncement</h2>
  <% @new_anoun.each do |a| %>
	<h4><%= a.title %></h4>
	<h5><%= a.created_at %></h5>
	<p><%= a.content %></p>
  <% end %>
</div>

<div class="col-lg-6">
  <h2>Past Anouncement</h2>
  <% @past_anoun.each do |a| %>
	<h4><%= a.title %></h4>
	<h5><%= a.created_at %></h5>
	<p><%= a.content %></p>
  <% end %>
</div>
</div>