<p id="notice"><%= notice %></p>

<h1>Listing Anouncements</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anouncements.each do |anouncement| %>
      <tr>
        <td><%= anouncement.title %></td>
        <td><%= anouncement.content %></td>
        <td><%= link_to 'Show', anouncement %></td>
        <td><%= link_to 'Edit', edit_anouncement_path(anouncement) %></td>
        <td><%= link_to 'Destroy', anouncement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anouncement', new_anouncement_path %>
